<!-- <div class="container text-center">
  <div class="row">
    <div class="col-3" *ngFor="let user of users">
      <div class="card">
        <img [src]="user.avatar" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <button
            class="btn btn-outline-primary"
            type="button"
            (click)="(user.id)"
          >
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<ul>
  <li *ngFor="let user of users">
    <img [src]="user.avatar" />
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <div style="padding-top: 5px; width: 18rem">
      <button class="btn btn-outline-primary" (click)="userDetails(user.id)">
        Details
      </button>
    </div>
  </li>
</ul>
